* {
  box-sizing: border-box;
}

.pad {
  padding: 12rem 3rem 12rem 3rem;

}

body {
  font-family: serif;
  height: 10rem;
  width: 100%;
  display: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c1e5f7;
}

form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  min-width: 6.25rem;
  min-height: 25rem;
  padding: 1rem 3rem 3rem 3rem;
  box-shadow: 0rem 0.5rem 2.25rem #222;
  background-color: #fefefe;
}

form > h1 {
  display: flex;
  justify-content: center;
  font-family: serif;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1rem;
  color: #222;
  letter-spacing: 0.09rem;
}

label {
  margin-bottom: 0.5rem;
  color: #444;
  font-weight: normal;
}

input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  width: 100%;
}
input, select {
  padding: 0.8rem 0.8rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #9da19e;
  margin-top: 0.438rem;
}

button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25rem;
  margin-top: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #22223B;
  color: #fefefe;
  font-size: large;
  font-weight: normal;
}
button:hover {
  background-color: #8160f7;
}
