.top-container {
    background-color:rgb(30, 136, 229);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rbga(0, 0, 0, 0.2);
    object-fit: contains;
}

.top-container > h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin-top: -100px;
}

.top-container > p{
    margin-top: 8px;
    color: rgb(255, 193, 7);
    font-size: 32px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.top-btns {
    margin-top: 32px;
}

.top-btns .btn{
    margin: 6px;
}

.fa-play-circle{
    margin-left: 4px;
}

@media screen and (max-width: 960px){
    .top-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px){
    .top-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .top-container > p {
        font-size: 30px;
    }

    .btn-mobile{
        display: block;
        text-decoration: none;
    }

    .btn{
        width: 100%;
    }
}